{% extends '././templates/base.html' %}
{% block title %}
User Update Page
{% endblock %}

{% block content %}
  <h1 style="text-align: center;">You are updating user for : {{ user.first_name }} {{ user.last_name }}</h1>

<div style="width: 100%; display: flex; justify-content: center;margin-top: 100px;">
  <form action="{{ url_for('user.update_user', user_id=user.id) }}" style="width: 30%;" method="post">
  {{ form.hidden_tag() }}
    {% from 'macros.html' import render_field %}

  <div class="mb-3">
    {{ render_field(form.first_name, user.first_name) }}
  </div>
  <div class="mb-3">
      {{ render_field(form.last_name, user.last_name) }}

  </div>
  <div class="mb-3">
    {{ render_field(form.age, user.age) }}
  </div>
    <div class="mb-3" style="text-align: center;">
      {{ form.submit }}
    </div>

</form>
</div>




{% endblock %}